.selected-options {
  margin: 20px 0;
}

.filter-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.filter-button:hover {
  background-color: #0056b3;
}

.remove-icon {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.remove-icon:hover {
  color: #ff0000;
}
